<link rel="stylesheet" type="text/css" href="/static/ui.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<script src="/static/dependencies/Sortable/Sortable.min.js"></script>
<script src="/static/dependencies/awesomplete-gh-pages/awesomplete.js" async></script>



<div class="colcontainer" id="maincontent">

<div id="header">
	<div class="colcontainer">
		<div>It's time to end scheduling insanity.</div>
		<div class="rowcontainer" id="headerLinks">
			<div class="headeritem">Publish</div>
			<div class="headeritem">Compare With</div>
			<div class="headeritem">Fork</div>
			<button style="flex: 1;background: transparent; color: inherit; text-align: right;" onclick="document.getElementById('functions').classList.toggle('isOpen');">toggle functions</button>
		</div>
	</div>
</div>
<hr />

<div class="rowcontainer">
	<div class="colcontainer" id="schedule">
		<div id="terms">
		</div>
		<div id="addterm">
			add<br />term
			<div class="termselection" id="tsfall" onclick="addTerm">Fall</div>
			<div class="termselection" id="tsspring">Spring</div>
			<div class="termselection" id="tssummer">Summer</div>
			<div class="termselection" id="tsintermediary">Intermediary</div>
		</div>
	</div>

	<div class="colcontainer isOpen" id="functions">
		<div class="functionitem">I'm a search thing</div>
		<div class="functionitem">I'm a equivalent class finder thing</div>
		<div class="functionitem">I'm a permutation generator</div>
		<div class="functionitem">I'm an import export tool</div>
		<div class="functionitem">I save things to images</div>
		<div class="functionitem">I publish schedules</div>
		<div class="functionitem">I fork schedules</div>
		<div class="functionitem">I pull updated data in various ways</div>
		<div class="functionitem">I'm some immersive view toggle</div>
		<div class="functionitem">I generate a pretty map for each term</div>
		<div class="functionitem">I auto-sort classes to minimize prereq overlaps</div>
		<div class="functionitem">I auto-sort classes in other ways ie by department and numerically</div>
		<div class="functionitem">I specify what course information to display ie teacher number title etc</div>
		<div class="functionitem">I load or import degree audit data</div>
		<div class="functionitem">I find schedule issues and list remaining requirements</div>
		<div class="functionitem">etc1</div>
		<div class="functionitem">etc2</div>
		<div class="functionitem">etc3</div>
		<div class="functionitem">etc4</div>
	</div>
</div>



<script src="/static/schedule.js"></script>