<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>MyCUPimpedYoDawg</title>

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
	<script src="/static/mergedHack.js"></script>
	<script src="/static/dependencies/Sortable/Sortable.min.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato"> -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/ui.css" />

	<link rel="stylesheet" href="/static/dependencies/awesomplete-gh-pages/awesomplete.css" />

	<script src="/static/dependencies/awesomplete-gh-pages/awesomplete.js" async></script>

	<script src="/static/dependencies/dom-to-image/dom-to-image-not-pulled.js" async></script>

	<script src="/static/dependencies/FileSaver/FileSaver.min.js" async></script>
</head>

<body>

	<div class="colcontainer" id="maincontent">

	<div id="header">
		<div class="colcontainer">
			<div class="rowcontainer">
				<div style="text-indent: 20%; width: 75%;">It's time to end scheduling insanity.</div>
				<div id="scrapeInfo">Latest course information scrape took place 2/19 at 2:30AM.</div>
			</div>
			<div class="rowcontainer" id="headerLinks">
<!-- 				<div class="headeritem">Publish</div>
				<div class="headeritem">Compare With</div>
				<div class="headeritem">Fork</div> -->
				<div class="headeritem" id="viewToggle" onclick="document.getElementById('viewCustomizer').classList.toggle('isOpen');">Customize View</div>
				<div class="headeritem"onclick="pngExport();">Export to PNG<br />(zoom out is recommended)</div>
				<button style="flex: 1;background: transparent; color: inherit; text-align: right;" onclick="document.getElementById('functions').classList.toggle('isOpen');">toggle functions</button>
			</div>
		</div>
	</div>
	<hr />
	<div class="rowcontainer" id="viewCustomizer">
		<div class="customViewElement" id="courseid" onclick="toggleCustomViewDisabled(this);">ID</div>
		<div class="customViewElement" id="coursesubject" onclick="toggleCustomViewDisabled(this);">Subject</div>
		<div class="customViewElement" id="coursenumber" onclick="toggleCustomViewDisabled(this);">Number</div>
		<div class="customViewElement" id="coursename" onclick="toggleCustomViewDisabled(this);">Name</div>
		<div class="customViewElement" id="courseunits" onclick="toggleCustomViewDisabled(this);">Units</div>
		<div class="customViewElement" id="courseconsentrequired" onclick="toggleCustomViewDisabled(this);">Consent Required</div>
		<div class="customViewElement" id="courseseatsremaining" onclick="toggleCustomViewDisabled(this);">Seats Remaining</div>
		<div class="customViewElement" id="coursewaitlisttotal" onclick="toggleCustomViewDisabled(this);">Waitlist Total</div>
		<div class="customViewElement" id="coursemiscinfo" onclick="toggleCustomViewDisabled(this);">Misc Info</div>
		<div class="customViewElement" id="courseinstructor" onclick="toggleCustomViewDisabled(this);">Instructor</div>
		<div class="customViewElement" id="courseroom" onclick="toggleCustomViewDisabled(this);">Room</div>
		<div class="customViewElement" id="coursemeetingtime" onclick="toggleCustomViewDisabled(this);">Meeting Time</div>
		<div class="customViewElement" id="coursesection" onclick="toggleCustomViewDisabled(this);">Section</div>
		<div class="customViewElement" id="coursecode" onclick="toggleCustomViewDisabled(this);">Code</div>
		<div class="customViewElement" id="coursemeetingdates" onclick="toggleCustomViewDisabled(this);">Meeting Dates</div>
		<div class="customViewElement" id="courseopenstatus" onclick="toggleCustomViewDisabled(this);">Open Status</div>
	</div>
	<div class="rowcontainer">
<!-- 		<div class="colcontainer" id="classaddinterface">
			Course Adder
			<br />~~~~~
			<div class="courseadder">Search</div>
			<div class="courseadder">Custom (Specify req fulfillments)</div>
			<div class="courseadder">Term to Insert Class into</div>
			<div class="courseadder">I'm a brief audit summary</div>
		</div> -->
		 <div class="colcontainer" id="schedule">
		 	<div id="terms">
		 		<!--
 				  2015  TODO add date range adder or something 
				<div class="scheduleterm intermediary">i'm some past high school things just cuz</div>
				<div class="scheduleterm fall">i'm the first semester ever omg let's call it fall
				<div class="course">CSCI3308</div>
				<div class="course">CSCI3104</div>
				<div class="course">CSCI2270</div>
				</div>
				 2016 
				<div class="scheduleterm spring">wow an entire other schoolyear has begun (oops. ordering)</div>
				<div class="scheduleterm summer">took dat summer term to expediate stuff</div>
				<div class="scheduleterm fall">second fall ever. impressive</div>
				-->
			</div>
			<div id="addterm">
				add<br />term
				<div class="termselection" id="tsfall">Fall</div>
				<div class="termselection" id="tsspring">Spring</div>
				<div class="termselection" id="tssummer">Summer</div>
				<div class="termselection" id="tsintermediary">Intermediary</div>
			</div>
		</div>
		<!-- todo rename isOpen to isClosed... if this is even going to be kept -->
		<div class="colcontainer isOpen" id="functions">
			<div class="functionitem">I'm a search thing</div>
			<div class="functionitem">I'm a equivalent class finder thing</div>
			<div class="functionitem">I'm a permutation generator</div>
			<div class="functionitem">I'm an import export tool</div>
			<div class="functionitem">I save things to images</div>
			<div class="functionitem">I publish schedules</div>
			<div class="functionitem">I fork schedules</div>
			<div class="functionitem">I pull updated data in various ways</div>
			<div class="functionitem">I'm some immersive view toggle</div>
			<div class="functionitem">I generate a pretty map for each term</div>
			<div class="functionitem">I auto-sort classes to minimize prereq overlaps</div>
			<div class="functionitem">I auto-sort classes in other ways ie by department and numerically</div>
			<div class="functionitem">I specify what course information to display ie teacher number title etc</div>
			<div class="functionitem">I load or import degree audit data</div>
			<div class="functionitem">I find schedule issues and list remaining requirements</div>
			<div class="functionitem">etc1</div>
			<div class="functionitem">etc2</div>
			<div class="functionitem">etc3</div>
			<div class="functionitem">etc4</div>
		</div>
	</div>


	<script src="/static/schedule.js"></script> <!-- TODO load this when confirmed ready; relies upon element id's -->
	</body>

</body>

</html>
